---
title: A bread whom pleads
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <title>{{ title }}</title>

    <meta
      name="description"
      content="A bread whom pleads"
    />
    <meta property="og:title" content="A bread whom pleads" />
    <meta
      property="og:description"
      content="A bread whom pleads"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/images/pleading-bread.png" />
    <meta
      property="twitter:image"
      content="https://pleadingbread.com/images/pleading-bread.png"
    />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@eleeleth" />
    <meta name="twitter:title" content="A bread whom pleads" />
    <meta
      name="twitter:description"
      content="A bread whom pleads"
    />
    <link rel="shortcut icon" href="/images/icon-192x192.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta name="theme-color" content="#ffffff" />
    <link
      rel="apple-touch-icon"
      sizes="192x192"
      href="/images/icon-192x192.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="256x256"
      href="/images/icon-256x256.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="384x384"
      href="/images/icon-384x384.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="512x512"
      href="/images/icon-512x512.png"
    />
  </head>
  <body>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V5C7MXMVB4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-V5C7MXMVB4');
    </script>
    <main>{{ content | safe }}</main>
  </body>
</html>
